header {
    font-weight: bolder;
    text-align: center;
}

#headername {
    font-family:Verdana;
    font-size:40px;
    font-weight:bold;
    text-shadow: 5px 4px 2px #7c0905;
    color:#9a5628;
}

.opentheaters {
    font-family: Verdana;
    font-weight: bold;
    font-style: oblique;
    color: #f8d824;
 }

#graygreen {
    clear: both;
    background: linear-gradient(to right, #928e7d, #625948);
    text-align: center;
    color: chartreuse;
}

p {
    text-align: center;
}

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    background-color: #789857;
}

footer {
    height: 50px;
    clear: both;
    font-size: 16px;
    color: #ade327;
    background-color: #674935;
    -webkit-border-radius: 40px;
}

.smalltext {
    font-size: 10px;
    font-style: italic;
}

.youtube
{
    float: left;
    margin: 0 50px 0 50px;
}

a:link
{
    text-decoration: none;
}

a:hover
{
    background-color: #3eee13;
}