@font-face {
    font-family:jfofont;
    src:url('../fonts/Jfo.ttf');
}

#headername {
    font-family:jfofont;
    font-size:40px;
    font-weight:bold;
    color:black;
    padding:15px;
    margin:8px 0px;
}

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
}

footer {
    clear: both;
    width: 85%;
    background-color: #76e6a8;
    margin: 5px 0px 5px;
    padding: 5px;
    -webkit-border-radius: 12px;
}

.smalltext {
    font-size: 10px;
    font-style: italic;
}
