header {
    font-weight: bolder;
    text-align: center;
}

#headername {
    font-family:Verdana;
    font-size:40px;
    font-weight:bold;
    color:black;
    padding:15px;
    margin:8px 0px;
}

#opentheaters {
    font-family: Verdana;
    font-weight: bold;
    color: #ceaebc;
 }
#graygreen {
    background: linear-gradient(to right, #928e7d, #625948);
}

p {
    text-align: center;
}
body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    background-color: #789857;
}

footer {
    height: 50px;
    clear: both;
    font-size: 16px;
    color: #ade327;
    background-color: #674935;
    -webkit-border-radius: 40px;
}

.smalltext {
    font-size: 10px;
    font-style: italic;
}
